<form [formGroup]="checkoutForm" class="example-form" (ngSubmit)="onSubmit(true)">
    <div class="detailsTable">
        <table mat-table [dataSource]="detailColumns" class="mat-elevation-z8">
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="statusHeader">
                    סטטוס הגשה
                </th>
                <td mat-cell *matCellDef="let detail" class="statusText">
                    {{ detail.status }}
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="dateHeader">
                    תאריך הגשה
                </th>
                <td mat-cell *matCellDef="let detail" class="dateText">
                    {{ detail.date }}
                </td>
            </ng-container>
            <ng-container matColumnDef="ids">
                <th mat-header-cell *matHeaderCellDef class="idsHeader">
                    מגישים
                </th>
                <td mat-cell *matCellDef="let detail" style="text-align: right;">
                    <div *ngIf="isMultipleSubmission; else multipleSubmission">
                        הגשה ביחידים
                    </div>
                    <ng-template #multipleSubmission>
                        <mat-form-field class="example-full-width idsText">
                            <input matInput placeholder="example: id1, id2" value=""
                            formControlName="additionalSubmitors" #additionalSubmitors
                            [disabled]="exeStatus === 'ממתתין לבדיקה'">
                        </mat-form-field>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="detailColummsHeader"></tr>
            <tr mat-row *matRowDef="let row; columns: detailColummsHeader;">
            </tr>
        </table>
    </div>
    <div class="extenstionButton">
        <label class="btn btn-primary" color="primary" type="button"
            (click)="askForChat()">
            {{ converstionTarget }}
        </label>
    </div>
    <div class="resultsButton">
        <button mat-raised-button class="btn btn-primary" style="width: 100px;"
            color="primary" type="button" (click)="lastFileRun()"
            [disabled]="!isSubmitSuccess">
            תוצאות ריצה
        </button>                          
    </div>
    <div class="downloadButton">
        <button mat-raised-button class="btn btn-primary" style="width: 100px;"
            color="primary" type="button" (click)="downloadFiles()"
            [disabled]="!isSubmitSuccess">
            הורד קבצים
        </button>
    </div>
    <div class="runButton">
        <button mat-raised-button class="btn btn-primary" style="width: 100px;"
            color="primary" type="button" (click)="onSubmit(false)"
            [disabled]="(isSubmitCheck || exeStatus === 'נבדק')">
            ניסיון הרצה
        </button>                                
    </div>
    <div class="submitButton">
        <button mat-raised-button class="btn btn-primary" 
        style="width: 100px;" color="primary" type="submit"
        [disabled]="exeStatus === 'נבדק'">
        הגש
        </button>
    </div>
    <div class="uploadFilesLabel">
        <h4>קבצים שהועלו:</h4>
        <div class="fileUploadBox" #fileUploadBox
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)">
            <div class="row fileUploadText">
                <div *ngFor="let file of uploadFileList">
                    <span class="close times fileSpan"
                    (click)="eraseUploadFile(file)" style="cursor: pointer;">x&nbsp;&nbsp;</span>
                    <span class="fileName" (click)="downloadFile(file.name)">{{ file.name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="fileUploadButton">
                    <input type="file" name="file-1[]" (change)="onFileChoose($event)"
                    id="file-1" class="inputfile inputfile-1" style="visibility: hidden;"
                    #file1>
                    <label for="file-1" class="btn btn-primary selectFilesButton" type="button" color="primary"
                    #file1label>
                        בחר קבצים
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>