.exeSettings {
    margin-right: .8em;
}

.firstRow, .secondRow, .forthRow {
    /*border-style: ridge;*/
    height: 15%;
}

.thirdRow {
    /*border-style: ridge;*/
    height: 55%;
}

.exeNameLabel {
    position: relative;
    left: 30%;
    top: 7%;
}

.submitStatusLabel {
    position: relative;
    left: 35%;
    top: 5%;
}

.moreSubmitersLabel {
    position: relative;
    left: 40%;
    top: 5%;
}

.uploadFilesLabel {
    position: relative;
    left: 40%;
    top: 5%;
}

.submitDateLabel ,.submitDateText {
    display: inline-block;
}

.submitDateText {
    font-weight: 900;
}

.submitDate {
    position: relative;
    left: 30%;
    top: 30%;
}

.example-full-width {
    text-align: right;
    width: 100%;
}

.statusLabel, .statusText {
    display: inline-block;
}

.statusText {
    font-weight: 900;
}

.fileUploadBox {
    border-style: dotted;
}

.exNameHeader, .exeNameText {
    display: inline-block;
}

.exeNameText {
    font-weight: 900;
}

.fileUploadText {
    height: 70%;
    text-align: left;
}

.fileUploadButton {
    position: relative;
    left: 40%;
}

.noMultipleSubmission {
    position: relative;
    left: 50%;
}

.extenstionButton {
    position: relative;
    left: 20%;
    top: 20%;
}

.submitButton {
    position: relative;
    left: 20%;
    top: 20%;
}

.resultsButton {
    position: relative;
    left: 20%;
    top: 20%;
    height: 33%;
}

.example-form {
    height: 100%;
}
.fileName {
    color: black;
    cursor: pointer;
}