.content {
    background-color: #eee;
    height: 800px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;

    display: grid;
    row-gap: 0px;
    grid-template-areas: 
    'tableRequest requestList';
    padding: 50px;
    grid-gap: 70px;
    grid-template-columns: 100% 0%;
}
.requestFrame {
    grid-area: tableRequest;
}
.reducePoints {
    grid-area: requestList;
    border-radius: 10px;
}
.mat-elevation-z8 {
    border-radius: 10px;
}
.extenstionHeader {
    text-align: right;
}
.requestBox {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    border-style: ridge;
    /*border-bottom: ridge;
    border-top: ridge;*/
    text-align: right;
    display: grid;
    row-gap: 7px;
    grid-template-areas: 
    'name'
    'id'
    'textContent'
    'file'
    'menuRequest';
}
.name, .id, .textContent, .file {
    padding-right: 5px;
}
.name { grid-area: name; }
.id { grid-area: id; }
.textContent { grid-area: textContent; }
.file { grid-area: file; }
.menuRequest {
    grid-area: menuRequest;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 
    'response date approve deny';
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}
.teamDateText, .teamHeader, .dateHeader {
    text-align: right;
    padding: 0px 10px 0px 10px;
}
.inputHeader {
    text-align: right;
}