<form [formGroup]="checkoutForm" class="example-form" (ngSubmit)="onSubmit()">
    <h2>התחבר</h2>
    <mat-form-field class="example-full-width">
        <mat-label>שם מתשמש</mat-label>
        <input matInput placeholder="שם מתשמש" value="" formControlName="userName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>סיסמא</mat-label>
        <input matInput placeholder="סיסמא" type="password" formControlName="password">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">הכנס</button>
    </div>
</form>  