<!--<app-nav-home></app-nav-home>-->
<div class="container">
    <div class="login" *ngIf="!logedIn; else navHome">
        <div class="row topSpace">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 loginContent">
                <app-login></app-login>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <ng-template #navHome>
        <app-nav-home></app-nav-home>
        
    </ng-template>
</div>