<div class="courseName">
    {{ selectedCourse.name }}
</div>
<form [formGroup]="checkoutForm" class="example-form" (ngSubmit)="onSubmit()">
    <div class="addExtenstionLine">
        <span class="headerGrid">בדיקות אוטומטיות</span>
        <div class="name">
            <mat-form-field class="example-full-width">
                <mat-label>שם הבדיקה</mat-label>
                <input matInput placeholder="מספר" value="" formControlName="name">
            </mat-form-field>
        </div>
        <div class="input">
            <mat-form-field class="example-full-width">
                <mat-label>קלט</mat-label>
                <input matInput placeholder="מספר" value="" formControlName="input">
            </mat-form-field>
        </div>
        <div class="output">
            <mat-form-field class="example-full-width">
                <mat-label>פלט</mat-label>
                <input matInput placeholder="מספר" value="" formControlName="output">
            </mat-form-field>
        </div>
        <div class="advanced">
            <button mat-raised-button class="btn-success" type="button" (click)="openAdvancedConfig('new')">מתקדם</button>
        </div>
        <div class="addInput">
            <button mat-raised-button color="primary" type="submit">הוסף בדיקה</button>
        </div>
        <div class="tableLines">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <table mat-table [dataSource]="lines" class="mat-elevation-z8">
                    <ng-container matColumnDef="erase">
                        <th mat-header-cell *matHeaderCellDef class="headerLabel"></th>
                        <td mat-cell *matCellDef="let element">
                            <span class="close" (click)="deleteTest(element.id)">&times;</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef class="headerLabel"></th>
                        <td mat-cell *matCellDef="let element">
                            <div class="advancedButton">
                                <button mat-raised-button class="btn-success" type="button" (click)="openAdvancedConfig(element)">
                                    מתקדם
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef class="headerLabel">שם הבדיקה</th>
                        <td mat-cell *matCellDef="let element"> {{ element.exerciseID }} </td>
                    </ng-container>
                    <tr mat-header-row class="headerCols" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="headerCols" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</form>