.frame {
    border-style: ridge;
    height: 800px;
    text-align: right;
    display: grid;
    row-gap: 10px;
    grid-template-areas: 
    'input1 input2 input2'
    'input3 input4 input4'
    'input5 input6 input6'
    'input13 input13 input13'
    'input7 input8 input9'
    'temp input11 temp2'
    /* 'input11 input12'; */
}
.exeName { grid-area: input1; }
.submitDate { grid-area: input2; }
.multiplePartners { grid-area: input3; }
.codeLanguage { grid-area: input4; }
.autoTestGradeWeight { grid-area: input5; }
.styleTestGradeWeight { grid-area: input6; }
.automaticChecks { grid-area: input7; }
.belongTeacher { grid-area: input8; }
.reducePoints { grid-area: input9; }
.reduceTeams { grid-area: input10; }
.exefiles { grid-area: input11; }
.createButton { grid-area: input13; }
.example-full-width {
    text-align: right;
}
.tempInput { grid-area: temp; }
.tempInput2 { grid-area: temp2; }
.createButton {
    text-align: center;
}
.createUpdateButton {
    width: 150px;
}