.box {
    padding: 10px 10px 0px 10px;
    height: 465px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
}
.buttonBox {
    padding: 10px 10px 10px 10px;
    height: 50px;
    cursor: pointer;
}
.shrotBox {
    padding: 0px 10px 0px 10px;
    border-style: ridge;
    height: 400px;
    overflow-y: scroll;
}
.addElement {
    padding: 0px 10px 0px 10px;
    height: 65px;
}
.example-full-width {
    width: 100%;
    text-align: right;
}
.headersLine {  
    height: 35px;
}
.exeHeader {
    padding-bottom: 10px;
}
.list-group-item {    
    background-color: white; /*#6f42c1*/
    box-shadow: 0 4px 2px -2px gray;
    color: black;
    cursor: pointer;
}
.list-group {
    width: 100%;
}
.exeBox {
    padding: 10px 10px 10px 10px;
}
.nameBox {
    padding: 10px 2px 10px 2px;
}
.nameHeader {
    height: 20px;
}
.year {
    padding: 10px 10px 10px 10px;
}
.col-3 {
    text-align: right;
}
.close {
    padding: 0px 0px 0px 12px;
}
.exeLabel {
    display: inline-grid;
    grid-template-columns: auto 10px 10px;
    grid-column-gap: 10px;
}
.editExe {
    cursor: pointer;   
}
.frame {
    background-color: #eee;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    height: 750px;
    text-align: right;
    padding: 50px;
    grid-gap: 50px;
    padding-top: 10px;

    display: grid;
    row-gap: 0px;
    grid-template-areas: 
    'buttons buttons buttons'
    'col1 col2 col3';
}
.gap {
    grid-area: gap0;
    width: 10%;
}
.checkExeTabel {
    grid-area: col1;
}
.checkedExeTabel {
    grid-area: col2;
}
.reCheckExeTabel {
    grid-area: col3;
}
.buttonBox {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 
    'auto style copy';
}
.checkButton, .styleButton, .copyButton{
    display: inline-block;
    margin: auto;
}
.checkButton {
    grid-area: auto;
}
.styleButton {
    grid-area: style;
}
.copyButton {
    grid-area: copy;
}