<div class="row frame" *ngIf="exeStatus !=='exeDetails'; else exeDisplay">
    <div class="buttonBox">
        <div class="checkButton">
            <button mat-raised-button color="primary" (click)="autoCheck()">בדוק אוטו'</button>
        </div>
        <div class="styleButton">
            <button mat-raised-button color="primary" (click)="styleCheck()">בדוק סטייל</button>
        </div>
    </div>
    <div class="checkExeTabel">
        תרגילים לבדיקה
        <div class="box">
            <div *ngFor="let exe of exeToCheck" class="exeBox">
                <span class="exeLabel list-group-item list-group-item-action"
                    (click)="getExeDetails(exe)">
                    {{ names.get(exe.id) }}
                    <!--<span class="editExe" (click)="editExe(i)">...</span>
                    <span class="close" (click)="deleteExe(i)">&times;</span>-->
                </span>
            </div>
        </div>
    </div>
    <div class="checkedExeTabel">
        תרגילים שנבדקו
        <div class="box">
            <div *ngFor="let exe of alreadyChecked" class="exeBox">
                <span class="list-group-item list-group-item-action"
                    (click)="getExeDetails(exe)">
                    {{ names.get(exe.id) }}
                </span>
            </div>
        </div>
        <!--<div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="reCreateExe()">שחזר תרגיל</button>
        </div>-->
    </div>
    <div class="reCheckExeTabel">
        תרגילים לבדיקה חוזרת
        <div class="box">
            <div *ngFor="let reCheck of reChecks" class="nameBox">
                <span class="list-group-item list-group-item-action"
                    (click)="getExeDetails(reCheck)">
                    <!--<span class="close" (click)="deleteTeacher(i)">&times;</span>-->
                    {{ names.get(reCheck.id) }}
                </span>
            </div>
        </div>
        <!--<div class="addElement">
            <mat-form-field class="example-full-width">
                <mat-label>הקלד ת.ז</mat-label>
                <input #teacherID matInput placeholder="הקלד ת.ז" value="">
            </mat-form-field>
        </div>
        <div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="addTeacher()">הוסף מתרגל</button>
        </div>-->
    </div>
</div>