<app-extension *ngIf="theacherStatus === 'extenstion'" 
    [selectExe]="selectExe"
    [headerText]="headerText">
    
</app-extension>
<div *ngIf="theacherStatus === ''" class="studentGeneral">
    <div class="courseHeaderLine">
        <h4>קורסים</h4>
    </div>
    <div class="coursesList">
        <ul class="coursesEelemnts"><!--[class.selected]="course === selectedCourse"-->
            <li *ngFor="let course of coursesList"
                class="course" (click)="onSelect(course)">
                <div class="badge">
                    <div class="courseName">
                        {{ course.name }}
                    </div>
                    <div class="gap"></div>
                    <div class="courseId">
                        {{ course.number }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="lastExeHeaderLine">
        <h4>תרגילים אחרונים</h4>
    </div>
    <div class="exeToSubmitContent">
        <table mat-table [dataSource]="lastExeDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם הקורס</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.courseName }} </td>
            </ng-container>
            <ng-container matColumnDef="courseNumber">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-8 headerLabel">מס' הקורס</div>
                        <div class="col-3"></div>
                    </div>  
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.courseNumber }} </td>
            </ng-container>
            <ng-container matColumnDef="exeName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-8 headerLabel">שם התרגיל</div>
                        <div class="col-4"></div>
                    </div>    
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.exName }} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="teacherName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-8 headerLabel">תאריך להגשה</div>
                        <div class="col-2"></div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.date.substring(0, 10)}} </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="lastExeColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: lastExeColumns;"
                (click)="getLastExe(row)" class="rowTable">
            </tr>
        </table>              
    </div>
    <div class="appealHeaderLine">
        <h4>ערעורים</h4>
    </div>
    <div class="gradeContent">
        <table mat-table [dataSource]="appealDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם הקורס</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
            </ng-container>
            <ng-container matColumnDef="courseNumber">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">מס' הקורס</div>
                    </div>  
                </th>
                <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="exeName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם התרגיל</div>
                    </div>    
                </th>
                <td mat-cell *matCellDef="let element"> {{element.exerciseName}} </td>
            </ng-container>
            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם סטודנט</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="requestColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: submitionColumns;"
                (click)="getAppeals(row)" class="rowTable">
            </tr>
        </table>     
    </div>
    <div class="extenstionHeaderLine">
        <h4>בקשות להארכה</h4>
    </div>
    <div class="extenstionContent">
        <table mat-table [dataSource]="extenstionDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="courseName" class="courseNameCell">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-5">שם הקורס</div>
                    <div class="col-2"></div>
                </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
            </ng-container>
            <ng-container matColumnDef="courseNumber">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">מס' הקורס</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="exeName">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">שם התרגיל</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element"> {{element.exerciseName}} </td>
            </ng-container>
            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">שם סטודנט</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="requestColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: requestColumns;"
                (click)="getExtenstions(row)" class="rowTable">
            </tr>
        </table>
    </div>
</div>
<div *ngIf="theacherStatus === 'edit' || theacherStatus === 'create' || theacherStatus === 'course' || theacherStatus === 'lastExe'">
    <div *ngIf="isToShowAlert" #alert class="alert" role="alert" id="alertEle">
        {{ errorMessage }}
    </div>
    <div class="row headersLine">{{ selectedCourse.name }}</div>
    <app-exe *ngIf="theacherStatus === 'edit' || theacherStatus === 'create' || theacherStatus === 'lastExe'; else menu"
        [selectedCourse]="selectedCourse"
        [selectExelabel]="selectExelabel"
        [exeID]="exeID"
        [exeName]="exeName">

    </app-exe>
    <ng-template #menu>
        <app-course-menu [selectedCourse]="selectedCourse"
            (isToShowAlert)="changeIsToShowAlert($event)"
            (color)="changeColorAlert($event)"
            (errorMessageText)="changeMessageAlert($event)"
            (exeID)="changeExeID($event)"
            (exeName)="changeExeName($event)">
        
        </app-course-menu>
    </ng-template>
</div>