<div *ngIf="exeStatus==='exeDetails'">
    <div class="row headersLine">{{ selectedCourse.name }}</div>
    <div class="row headersLine">{{ selectExe.name }}</div>
    <app-exe-detail
        [selectExe]="selectExe">

    </app-exe-detail>
</div>
<div *ngIf="exeStatus===''; else exeDisplay" class="studentGeneral">
    <div class="courseHeaderLine">
        <h4>כל הקורסים</h4>
    </div>
    <div class="coursesList">
        <ul class="coursesEelemnts"><!--[class.selected]="course === selectedCourse"-->
            <li *ngFor="let course of coursesList"
                class="course" (click)="onSelect(course)">
                <div class="badge">
                    <div class="courseName">
                        {{ course.name }}
                    </div>
                    <div class="gap"></div>
                    <div class="courseId">
                        {{ course.number }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="exeHeaderLine">
        <h4>תרגילים לבדיקה</h4>
    </div>
    <div class="exeToSubmitContent">
        <table mat-table [dataSource]="exeToCheckList" class="mat-elevation-z8">
            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם הקורס</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{ element.courseName }} </td>
            </ng-container>
            <ng-container matColumnDef="courseNumber">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">מס' הקורס</div>
                    </div>  
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{ element.courseNumber }} </td>
            </ng-container>
            <ng-container matColumnDef="exeName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 headerLabel">שם התרגיל</div>
                    </div>    
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{ element.exName }} </td>
            </ng-container>
            <ng-container matColumnDef="exeAmount">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="row">
                        <div class="col-12 amountHeader">כמות תרגילים</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element" class="AmountText"> {{ element.toCheck }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="submitionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: submitionColumns;"
                (click)="getExeDetails(row)" class="rowTable">
            </tr>
        </table>            
    </div>
    <div class="rateHeaderLine">
        <h4>תרגילים לבדיקה חוזרת</h4>
    </div>
    <div class="gradeContent">
        <table mat-table [dataSource]="gradeDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="courseName" class="courseNameCell">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">שם הקורס</div>
                </div>
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{element.courseName}} </td>
            </ng-container>
            <ng-container matColumnDef="courseNumber">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">מס' הקורס</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{element.courseNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="exeName">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 headerLabel">שם התרגיל</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element" class="contentText"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="gradeAmount">
                <th mat-header-cell *matHeaderCellDef>
                <div class="row">
                    <div class="col-12 amountHeader">כמות תרגילים</div>
                </div> 
                </th>
                <td mat-cell *matCellDef="let element" class="AmountText"> {{element.exeAmount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="gradeColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: gradeColumns;"
                (click)="getExeDetails(row)" class="rowTable">
            </tr>
        </table>     
    </div>
</div>
<div *ngIf="exeStatus!=='' && exeStatus!=='exeDetails'">
    <div *ngIf="isToShowAlert" #alert class="alert" role="alert" id="alertEle">
        {{ errorMessage }}
    </div>
    <div class="row headersLine">{{ selectedCourse.name }}</div>
    <app-main-exe [selectedCourse]="selectedCourse"
        (isToShowAlert)="changeIsToShowAlert($event)"
        (color)="changeColorAlert($event)"
        (errorMessageText)="changeMessageAlert($event)"
        (selectExe)="updateExe($event)">

    </app-main-exe>
</div>
<div *ngIf="exeStatus!=='' && exeStatus!=='exeDetails'">
    <div *ngIf="isToShowAlert" #alert class="alert" role="alert" id="alertEle">
        {{ errorMessage }}
    </div>
    <div class="row headersLine">{{ selectedCourse.name }}</div>
    <app-main-exe [selectedCourse]="selectedCourse"
        (isToShowAlert)="changeIsToShowAlert($event)"
        (color)="changeColorAlert($event)"
        (errorMessageText)="changeMessageAlert($event)"
        [selectExe]="selectExe">

    </app-main-exe>
</div>