<div class="row studentGeneral">
    <div class="col-6">
        <div class="row headersLine">
            <div class="col-2">
                <h4>קורסים</h4>
            </div>
            <div class="col-10"></div>
        </div>
        <div class="row coursesList">

        </div>
    </div>
    <div class="col-6">
        <div class="row headersLine">
            <div class="col-4">
                <h4>תרגילים להגשה</h4>
            </div>
            <div class="col-8"></div>
        </div>
        <div class="row exeToSubmitContent">

        </div>
        <div class="row headersLine">
            <div class="col-4">
                <h4>ציוני תרגילים</h4>
            </div>
            <div class="col-8"></div>
        </div>
        <div class="row gradeContent">

        </div>
    </div>
</div>