.frame {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 750px;
    text-align: right;
    display: grid;
    row-gap: 0px;
    grid-template-areas: 
    'input1 input2 input3'
    'input4 input4 input4';
    grid-template-rows: 45% 55%;
    background-color: #eee;
    border-radius: 10px;
}
.gap {
    grid-area: input5;
}
.genrealDetails {
    grid-area: input1;
    display: grid;
}
.gradesGrid {
    grid-area: input2;
}
.noteList {
    grid-area: input3;
}
.genrealDetails, .gradesGrid, .noteList {
    padding: 15% 15% 15% 15%;
}
.files {
    grid-area: input4;
    text-align: center;
    padding: 0 15% 0 15%;
}
.example-full-width {
    text-align: right;
}
.createButton {
    text-align: center;
}
.autoResultHeader {
    text-align: center;
}
.teamDateText, .teamHeader, .dateHeader {
    text-align: right;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
}
.inputRate {
    width: 33px;
    background-color: #eee;
    padding: 0 3px 0 3px;
}
.angle-corner {
    border-radius: 10px;
}
.rateHader {
    padding-top: 20px;
    width: 20%;
}
.checkButton {
    padding: 0 25% 0 0;
}
.autoCheckResult {
    padding: 15% 15% 0 0;
}
.mat-elevation-z8 {
    border-radius: 20px;
}
.filesBox {
    background-color: white;
    height: 200px;
    border-style: dotted;
}
.fileUploadText {
    height: 70%;
    text-align: left;
}
.fileName {
    color: black;
    cursor: pointer;
}
.fileUploadButton {
    padding-right: 5%;
    padding-bottom: 15%;
}