<header>
  <div class="row">

  </div>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="col-1"></div>
    <div class="col-2">
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="logOut()" type="submit">התנתק</button>
      </div>
    </div>
    <div class="col-7"></div>
    <div class="col-2">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Submit System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
        </div>
    </div>
    </div>
  </nav>
</header>
