<div class="row">
    <div class="col-3">
        תרגילים
        <div class="box">
            <div *ngFor="let exe of exeNameList; let i = index" class="exeBox">
                <span class="exeLabel list-group-item list-group-item-action">
                    {{ exe.name }}
                    <span class="editExe" (click)="editExe(i)">...</span>
                    <span class="close" (click)="deleteExe(i)">&times;</span>
                </span>
            </div>
        </div>
        <div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="createExe()">הוסף תרגיל</button>
        </div>
    </div>
    <div class="col-3">
        תרגילים לשעבר
        <div class="box">
            <div *ngFor="let pair of allExeList | keyvalue">
                שנה: <span class="year">{{ pair.key }}</span>
                <div *ngFor="let exe of pair.value" class="exeBox">
                    <span class="list-group-item list-group-item-action">
                        {{ exe.name }}
                    </span>
                </div>
            </div>
        </div>
        <div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="reCreateExe()">שחזר תרגיל</button>
        </div>
    </div>
    <div class="col-3">
        מתרגלים
        <div class="shrotBox">
            <div *ngFor="let teacher of teacherNamesList; let i = index" class="nameBox">
                <span class="list-group-item list-group-item-action">
                    <span class="close" (click)="deleteTeacher(teacher.id)">&times;</span>
                    {{ teacher.name }}
                </span>
            </div>
        </div>
        <div class="addElement">
            <mat-form-field class="example-full-width">
                <mat-label>הקלד ת.ז</mat-label>
                <input #teacherID matInput placeholder="הקלד ת.ז" value="">
            </mat-form-field>
        </div>
        <div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="addTeacher()">הוסף מתרגל</button>
        </div>
    </div>
    <div class="col-3">
        בודקים
        <div class="shrotBox">
            <div *ngFor="let checker of checkersNamesList; let i = index" class="nameBox">
                <span class="list-group-item list-group-item-action">
                    <span class="close" (click)="deleteChecker(checker.id)">&times;</span>
                    {{ checker.name }}
                </span>
            </div>
        </div>
        <div class="addElement">
            <mat-form-field class="example-full-width">
                <mat-label>הקלד ת.ז</mat-label>
                <input #checkerID matInput placeholder="הקלד ת.ז" value="">
            </mat-form-field>
        </div>
        <div class="buttonBox">
            <button class="addButton" mat-raised-button color="primary" (click)="addChecker()">הוסף בודק</button>
        </div>
    </div>
</div>